<script type="text/javascript" data-app-id="nFZFY9eT6WuOESQXleMTJA" src="https://c64.assets-yammer.com/assets/platform_js_sdk.js"></script>
<script type="text/javascript" src="https://c64.assets-yammer.com/assets/platform_embed.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://npmcdn.com/parse/dist/parse.min.js" type="text/javascript"></script>
<!--<script src="../js/security.js" type="text/javascript"></script>-->

<h1 id="txt"></h1>

<span id="yammer-login"></span>
<div id="embedded-feed" style="height:400px;width:500px;"></div>
<img id="profile" src="" />
<a onclick="postMessage()">Mensaje</a>
<script>
  yam.connect.loginButton('#yammer-login', function (resp) {
    if (resp.authResponse) {
      document.getElementById('yammer-login').innerHTML = 'Welcome to Yammer!';
      document.getElementById('profile').src = resp.user.mugshot_url;
      console.log(resp);
      $("#txt").html("Hola");
      Parse.Cloud.run("yammer",{token : resp.access_token.token},{
          success: function(response){
//            alert(response);
            console.log(response);
          },
          error: function(error){
            alert("Error"+ error.message);
          }
      });
      Parse.Cloud.run("PostIdeaYammer",{token : resp.access_token.token, msn: "Novo Idea"},{
          success: function(response){
            alert("Post");
            console.log(response);
          },
          error: function(error){
            alert("Error"+ error.message);
          }
      });
    }
  });

  yam.connect.embedFeed({
  container: '#embedded-feed'
          , network: 'softtek.com'
        , feedType: 'open-graph'
        , feedId: ''
        , objectProperties: {
          url: 'https://www.opengraphpage.com/'
          , type: 'page'
        }
    });

function postMessage() {
     yam.getLoginStatus( function(response) {
       if (response.authResponse) {
        //call the yamPostRequest function if the user is logged in
       yamPostRequest(this);
       } else {
        //redirect the user to log in
        alert("not logged in")
         yam.login( function (response) {
        //re-check if the user is now logged in, then call the yamPostRequest function
          if (!response.authResponse) {
           yamPostRequest(this);
          }
         });
       }
     });
   }

   function yamPostRequest(val) {
   var msg_value = "Post desde Intoek";
   var groupID = "6068022";
    if(msg_value ==""){
     alert ("Message body cannot be empty!");
     return false;
    }
    if(groupID==""){
    var conf = confirm("Group ID is empty, message will be posted to All Company") ;
    if(conf==false){return false;}
    }
 yam.platform.request(
   {
    url: "https://api.yammer.com/api/v1/messages.json"
    , method: "POST"
    , data: {
     "body" : msg_value,
     "group_id" : groupID
    }
    , success: function (msg) { alert("Post was Successful!"); }
    , error: function (msg) { alert("Post was Unsuccessful"); }
    }
    )
 }
</script>
