.gear {
  position: relative;
  display: block;
  margin: 60px auto;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 0 solid #444;
  box-sizing: content-box;
}
.gear .gearTooth {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 12px;
  height: 6px;
  padding-bottom: 94px;
  z-index: 100;
  transform-origin: 50% 50%;
  margin: 0 auto;
  top: -30px;
  left: 14px;
  box-sizing: content-box;
}
.gear .gearTooth::before {
  content: '';
  position: relative;
  display: block;
  width: 12px;
  height: 20px;
  background-color: #444;
}
