@import "http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900";

@import "http://fonts.googleapis.com/css?family=Roboto";


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 59px;
    width: 100%;
    height: 100%;
    z-index: 41;
    background: url(img/spinner.gif) center no-repeat #fff;
}

#quoteLoading {
    position: relative;
    margin: 0 auto;
}

#quoteLoading h2 {
    font-family: "Roboto",Arial;
    color: #777;
    text-align: center;
    margin-top: 70px;
    font-weight: 300;
}

#quoteLoading h3 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
/* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
/* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
/* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
    font-feature-settings: liga;
}

html {
    height: 100%;
}

#wrapper {
    height: 100%;
}

.absolute {
    position: absolute;
}

body {
    background: #fff;
    text-align: center;
    margin-top: 59px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: #fff;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#SAEBtnList{
    display: block;
    /*margin: 10px auto;*/
}

#DLABtn{
    color: white;
    margin-bottom: 10px;
}

#SHABtnAction{
    /*margin-top: 20px;*/
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

#SHABtnAction:hover
{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}


#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

body {
    font-family: "Roboto";
}

a {
    text-decoration: none !important;
}

.card {
    height: auto;
    margin: 10px;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #272727;
    border-radius: 2px;
}

#home .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.user-img {
    /*position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;*/
    width: 30px;
    height: 30px;
    /*background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;*/
    border-radius: 99em;
    border: 2px solid #FFF;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

      .fixEnter
      {
        width: 100% !important;
      }
      .menu-padding {
        padding-top:40px;
        z-index: 2;
      }
      #rosterSU{
        width: 100% !important;
      }
      td .tt-hint{
        width: 100% !important;
        top: 2px !important;
      }
      .modText{
        border: 0px;
        font-weight: bold;
        width: 100%;
      }
      .textFull{
        width: 100%;
      }

.nav>li>a.user-profile-img-a {
    padding-right: 20px;
}

.user-profile-img {
    float: left;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #FFF;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.column-green {
    background-color: #e9faf0;
}

.column-blue {
    background-color: #dbedf9;
}

.column-purple {
    background-color: #f5eff8;
}

.column-red {
    background-color: #fceceb;
}

#home #columns {
    width: 100%;
    display: none;
    padding-right: 60px;
}

.full-width {
    width: 100% !important;
}

#home .column {
    width: 25%;
    height: initial;
    min-width: 205px;
    float: left;
}

#recently-added-cards,#most-popular-cards,#suggested-ideas-cards,#my-ideas-cards {
    margin-top: 40px;
}

.arrow_drop_down {
    color: #777;
    float: left;
}

.card .title {
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #0f2105;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
}

#viewUser .title,#viewProfileDashboard .title {
    padding-right: 0;
}

.read-more {
    cursor: pointer;
    font-size: 12px;
    color: #000;
    padding-left: 3px;
}

.date,.location {
    font-weight: 300;
    text-align: left;
    color: #021021;
        margin-bottom: 0px;
    font-size: 12px;
    float: left;
    margin-top: 2px;
    line-height: 18px;
}

.author {
    font-weight: 300;
    text-align: left;
    color: #828587;
        padding: 0;
    font-size: 12px;
    float: left;
    margin-top: 2px;
    line-height: 18px;
}

.author:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon-time, .icon-location{
    padding: 0;
}

.description {
    clear: both;
    font-weight: 300;
    text-align: left;
    color: #828587;
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 0;
}

#home .location-icon,.time-icon,#ideasRelated .location-icon {
    position: relative;
    float: left;
    margin: 3px 2px 2px 0px;
}

ul {
    margin: 0;
}

.header-column {
    height: 40px;
    color: #fff;
    position: relative;
    float: left;
    width: 25%;
    z-index: 1;
    line-height: 40px;
    font-family: 'Roboto';
    font-weight: 400;
}

#home .bg-icon {
    background-position-x: 20px;
    background-position-y: center;
    background-size: 22px;
    background-repeat: no-repeat;
}

.first_new_idea {
    color: #fff !important;
    background-color: #357ebd;
    border-color: #357ebd;
    border-radius: 0;
    margin-top: 20px;
}

.first_new_idea:hover {
    background-color: #2B6AA0;
}

.new_idea {
    font-size: 30px;
    line-height: 30px;
    color: #357ebd;
    top: 5px;
    z-index: 99999 !important;
    position: relative;
}

.new_idea:hover {
    color: #2B6AA0;
}

#home .bluewo {
    background-color: #3498db;
}

#home .redwo {
    background-color: #e74c3c;
}

#home .greenwo {
    background-color: #2ecc71;
}

#home .purplewo {
    background-color: #9b59b6;
}

#home .blue {
    background-color: #3498db;
    background-image: url(img/comment-activity.png);
}

#viewIdea #commentsSign {
    float: left;
    font-size: 12px;
    margin-left: 10px;
}

#viewIdea .tabDiv {
    background-color: #f7f8fa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#viewIdea #menuIdea {
    border: none;
}

#viewIdea #commentsSign i {
    margin-right: 4px;
}

#home .red {
    background-color: #e74c3c;
    background-image: url(img/heart-white.png);
}

#home .green {
    background-color: #2ecc71;
    background-image: url(img/recent.png);
}

#home .purple {
    background-color: #9b59b6;
}

#tags {
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
}

/* Css3 tags */
.tag {
    position: relative;
    display: inline-block;
    float: left;
    height: auto;
    text-transform: uppercase;
    padding: 1px 6px;
    margin: 5px;
    overflow: hidden;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ebedef;
    border-radius: 4px;
    -webkit-transition: .25s linear;
    transition: .25s linear;
    color: #171717;
}

#viewIdea .tags-icon {
    margin-top: 7px;
}

.tag:hover {
    font-weight: 500;
    background-color: #D3D5D7;
}

a:visited {
    color: #171717;
}

#viewIdea .tags-label,#viewIdea .attachment-label {
    float: left;
}

#viewIdea .attachment-label {
    margin-left: 8px;
}

#viewIdea .attachment-label i {
    line-height: 13px;
    vertical-align: middle;
}

#viewIdea .tags-label {
    margin-bottom: 15px !important;
}

#viewIdea #dateSign {
    float: left;
    font-size: 12px;
    /*margin-left: 20px;*/
    margin-bottom: 0;
}

.icon {
    display: block;
    width: 22px;
    float: left;
    font-size: 12px;
    padding-left: 22px;
    line-height: 25px;
    margin-right: 18px;
    background-position: center left;
    background-size: 70%;
    height: 22px;
    background-repeat: no-repeat;
}

#interaction {
    height: 22px;
    margin-top: 5px;
}

.comment {
    background-image: url(img/comment.png);
}

.heart {
    background-image: url(img/heart.png);
}

.attachment {
    background-image: url(img/attachment.png);
}

.clear {
    clear: both;
}

#sidebar {
    width: 60px;
    background-color: #212121;
    float: left;
    position: fixed;
    right: 0;
    top: 59px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#sidebar li {
    width: 50px;
    top: 0;
    height: 64px;
    right: 0;
    margin: 10px auto;
}

#sidebar li span {
    width: 38px;
    position: relative;
    height: 38px;
    right: 0;
    margin: 0 5px;
    background-color: #fff;
    background-repeat: no-repeat;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

#sidebar li a {
    padding: 0;
}

#sidebar li p {
    color: #fff;
    margin-top: 6px;
    font-family: "Roboto";
    float: left;
    font-weight: 300;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
}

.navbar {
    margin-bottom: 0 !important;
    border-top: none !important;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    top: 0;
    color: #829199;
    background: #fff;
    width: 100%;
}

#comments-div #listComments .chat-body {
    float: left;
    margin-left: 40px;
}

#comments-div #listComments .chat-body .header small {
    clear: both;
    float: left;
    font-size: 11px;
}

#comments-div ul li {
    position: relative;
}

#comments-div .chat-img {
    height: 100%;
    position: absolute;
    left: 0;
}

#comments-div #listComments .chat-body p {
    float: left;
    text-align: left;
    clear: both;
    width: auto;
    margin-top: 4px;
}

#comments-div .panel-body {
    padding: 0 15px !important;
}

#listComments li {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

#listComments li:last-child {
    border: none;
}

#delComment {
    margin-left: 4px;
    font-weight: 700;
    color: red;
    cursor: pointer;
    font-size: 12px;
}

#comments-div {
    margin-top: 20px;
}

.nav>li {
    margin: 0 5px;
}

.nav>li>a {
    color: #171717;
    font-weight: 300;
}

.nav>li>a:hover {
    background-color: transparent !important;
}

.nav>li>a:hover>p {
    font-weight: 400 !important;
}

#sidebar li a:hover > span {
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

#navSuperior {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.navbar-header {
    background: url(img/logo-idea-sm.png);
    display: block;
    height: 58px;
    width: 130px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.dropdown-menu {
    z-index: 1 !important;
}

.twitter-typeahead {
    width: 400px;
}

#productName {
    width: 100%;
}

.product-typeahead {
    width: 100%;
}

footer {
    margin: 10px 0;
}

#comments,#comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.photo {
    margin-bottom: 10px;
}

.social-buttons button {
    margin-top: 5px;
}

#my-ideas h2,#my-ideas h5.message-noideas,#my-ideas i {
    color: #777;
}

#column-is-empty-info {
    margin: 70px 20px;
}

/*View Idea*/
#viewChallenge .container,#viewUser .container,#viewTag .container,#viewIdea .container,#viewProfileDashboard .container {
    /*position: relative;*/
}

#viewIdea,#viewChallenge,#viewUser,#viewTag,#viewProfileDashboard {
    margin-top: 59px;
    background: #fff;
    height: 100%;
}

#viewChallenge .header-page{
    border-bottom: 1px solid #e7e7e7
}

.header-page {
    position: fixed;
    z-index: 9;
    width: 100%;
    background: #fff;
}

#viewIdea .header-page {
    /*top: 59px;*/
    position: static;
}

#viewTag .header-page {
    border-bottom: 1px solid #ccc;
}

#viewTag #ideasRelated {
    padding-top: 110px;
}

#filelist {
    padding: 0;
    margin: 0;
}

#viewIdea h1,#profile h1,#viewChallenge h1,#viewUser h1,#viewTag h1,#viewProfileDashboard h1 {
    font-weight: 300;
    font-family: 'Roboto',Arial;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    display: inline-block;
    float: left;
}

#viewChallenge span.user-info,#viewIdea span.user-info {
    clear: both;
}

#viewChallenge #ideasRelated {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#profile h1 {
    text-align: left;
}

#viewIdea a.user,#viewChallenge a.user {
    color: #000;
    font-weight: 600;
}

#viewIdea .tags-label,#viewUser .tags-label,#viewProfileDashboard .tags-label {
    display: flex;
    margin: 0 auto;
    position: relative;
}

#viewIdea .user-img {
   position: relative;
   margin: 0 auto;
   width: 30px;
   height: 30px;
}

#viewUser .profile-img,#viewIdea .profile-img,#viewProfileDashboard .profile-img {
    display: block;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #FFF;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.user-info {
    margin-bottom: 20px;
}

#idea {
    margin-top: 20px;
}

.img-cover-idea {
    width: 420px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    float: left;
    height: 245px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.img-cover-idea img {
    position: absolute;
}

.abstract {
    text-align: left;
    font-weight: 300;
}

.flex {
    display: flex !important;
}

.perc {
    font-size: 26px;
}

.btn-points {
    display: block;
    width: 50%;
    height: 30px;
    margin-top: 24px;
    float: left;
}

.btn-points i {
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px rgba(58,24,24,1);
    transition: text-shadow .5s ease;
    -webkit-transition: text-shadow .5s ease;
}

.btn-points i:hover {
    text-shadow: none;
    transition: text-shadow .5s ease;
    -webkit-transition: text-shadow .5s ease;
}

.like-btn {
    background: #57B128;
}

.like-btn i {
    margin-top: 2px;
    margin-left: 60px;
}

.dislike-btn {
    background: #F07467;
}

.dislike-btn i {
    margin-top: 2px;
    margin-left: 28px;
}

.demo-5 {
    position: absolute;
    top: 2px;
    width: 70px;
    background-color: #f7f8fa;
    border-radius: 83px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.demo {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 210px;
    height: 74px;
    margin-top: 32px;
}

#showEdit {
    float: right;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 14px;
    color: #4285F4;
    font-weight: 700;
}

#showEdit a {
    color: #4285F4 !important;
}

.well p {
    font-weight: 300;
}

.well {
    background: #fff;
    border-radius: 0;
}

.lead {
    margin-top: none;
    color: #57B128;
    margin-bottom: 0;
}

.avr-perc {
    line-height: 1.4;
    font-size: 21px;
}

.location-icon,.tags-icon,.attachment-icon,.time-icon {
    color: gray;
    font-size: 14px !important;
}

.tags-label,.location-label,.attachment-label {
    color: gray;
    font-weight: 400;
    font-size: 12px;
}

#info-idea {
    background: #fff;
    /*margin-top: 292px;*/
}

.nav-tabs {
    background-color: #f7f8fa;
}

#description p {
    text-align: left;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
    background-color: #fff;
}

#categoryIdea {
    position: relative;
    margin: 0 auto;
    float: left;
    margin-bottom: 5px;
    padding: 2px 9px;
    border-radius: 3px;
    width: auto;
    clear: both;
    font-size: 12px;
    text-transform: uppercase;
    display: initial;
    color: #fff;
}

.categoryIdea {
    background-color: #0297c2;
}

.categoryNeed {
    background-color: #043c5f;
}

.categoryApp {
    background-color: #696969;
}

.categoryPOC {
    background-color: #7c3961;
}

.categoryMicro {
    background-color: #DE3F45;
}

.categoryOther {
    background-color: #f4400a;
}

.comments-line {
    margin-bottom: 0;
}

footer {
    margin-top: 0;
}

footer hr {
    margin-top: 0;
}

/*Media*/
@media screen and (max-width: 1105px) {
#productName {
    width: 300px;
}
}

@media screen and (max-width: 770px) {
#productName {
    width: 196px;
}
}

.negative {
    background-color: #F07467 !important;
}

.positive {
    background-image: #8BC163 !important;
}

/*Profile*/
#profile {
    background-color: #fff;
}

#profile.input-style {
    margin: 0 30px 0 0;
    width: 300px;
}

.input-style {
    border-radius: 6px;
    background: #fff;
    border: 1px solid #d9d9de;
    color: #0f2105;
    font-size: 14px;
    padding: 6px 5px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
}

#viewIdea #description-text {
    float: left;
    clear: both;
    width: 100%;
}

.label-input {
    font-weight: 400;
    font-family: Roboto,Arial;
}

.update-btn {
    border: 2px solid #3ADF00;
    background-color: none;
    color: #3ADF00;
    font-weight: 400;
    padding: 3px;
}

.ghost-button,.ghost-button:visited {
    display: inline-block;
    width: 100px;
    padding: 8px;
    float: left;
    color: #3DADD1;
    border: 1px solid #3DADD1;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.ghost-button:hover,.ghost-button:active {
    background-color: #3DADD1;
    color: #fff;
}

.ghost-button-large {
    width: 160px;
}

#edit-img {
    border: 1px solid #ddd;
    position: relative;
    width: 250px;
    background-size: cover;
    height: 250px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.btn-img {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #3DADD1;
    right: 0;
}

.edit-img-icon {
    margin: 14px;
    color: #fff;
}

.upload-img-btn {
    font-size: 12px;
    font-family: Roboto,Arial;
    margin-bottom: 20px;
}

.edit-line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid #eee;
}

.img-edit {
    clear: both;
}

.img-thumbnail-idea {
    width: 100%;
    padding: 5px 0 5px 0;
    float: right;
}

#home .info-idea {
    width: 100%;
}

/*Login*/
#login .card {
    position: absolute;
    top: 50%;
    left: 50%;
}

#home .modal {
    z-index: 99999 !important;
}

#home .modal-backdrop.in {
    z-index: 999 !important;
}

#category {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

#category div {
    width: 16.6666667%;
    float: left;
    height: 100%;
    background-color: #eee;
    border-right: 1px solid #fff;
}

#category div:last-child {
    border: none !important;
}

#category .microCategory {
    background-color: #DE3F45;
}

#category .needsCategory {
    background-color: #043c5f;
}

#category .ideaCategory {
    background-color: #0297c2;
}

#category .appCategory {
    background-color: #696969;
}

#category .scriptCategory {
    background-color: #7c3961;
}

#category .otherCategory {
    background-color: #f4400a;
}

#category div.noactive {
    background-color: #d4d4d4 !important;
}

#form-new-idea {
    border-radius: 0;
}

/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #ddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.cmn-toggle-round + label:before,input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
}

input.cmn-toggle-round + label:after {
    width: 28px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    -o-transition: margin .4s;
    transition: margin .4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}

/*/Swith al crear una idea*/
.switch {
    float: right;
}

#form-new-idea p {
    float: right;
    margin-right: 6px;
    line-height: 36px;
}

/*barra de colores dependiendo de la categoria*/
.microBtn,.microBtn:hover,.microBtn:active,.microBtn:focus,.microBtn.active {
    border-bottom: 2px solid #DE3F45 !important;
    border-radius: 0;
}

.microBtn:hover,.microBtn:focus,.microBtn.active {
    background-color: #DE3F45;
}

.needBtn,.needBtn:hover,.needBtn:active,.needBtn:focus,.needBtn.active {
    border-bottom: 2px solid #043c5f !important;
}

.needBtn:hover,.needBtn:focus,.needBtn.active {
    background-color: #043c5f;
}

.ideaBtn,.ideaBtn:hover,.ideaBtn:focus,.ideaBtn:active,.ideaBtn.active {
    border-bottom: 2px solid #0297c2 !important;
}

.ideaBtn:hover,.ideaBtn:focus,.ideaBtn.active {
    background-color: #0297c2;
}

.appBtn,.appBtn:hover,.appBtn:active,.appBtn:focus,.appBtn.active {
    border-bottom: 2px solid #696969 !important;
}

.appBtn:hover,.appBtn:focus,.appBtn.active {
    background-color: #696969;
}

.pocBtn,.pocBtn:hover,.pocBtn:active,.pocBtn:focus,.pocBtn.active {
    border-bottom: 2px solid #7c3961 !important;
}

.pocBtn:hover,.pocBtn:active,.pocBtn:focus,.pocBtn.active {
    background-color: #7c3961;
}

.otherBtn,.otherBtn:hover,.otherBtn:active,.otherBtn.active,.otherBtn:focus {
    border-bottom: 2px solid #f4400a !important;
    border-radius: 0;
}

.otherBtn:hover,.otherBtn:focus,.otherBtn.active {
    background-color: #f4400a;
}

.categorygroup input {
    border-radius: 0 !important;
}

.categorygroup button:hover,.categorygroup button:active, {
    color: #fff;
}

/*Filter para recently added*/
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #fff;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

i.filter {
    position: relative;
    margin-top: 7px;
    color: #DBFFEA;
}

#filter-dropdown {
    display: none;
    margin-top: 40px;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
}

#viewIdea .tags-icon {
    float: left;
}

#filter-dropdown h4 {
    float: left;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    margin: 8px 0 0;
    width: 100%;
    color: #8B8C8B;
    margin-right: 20px;
    font-family: Roboto;
    font-weight: 800;
}

#filter-dropdown {
    list-style: none;
    float: left;
    width: 100%;
    z-index: 999999;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.postOrChallenge a {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 4px;
    border: 1px solid #2ecc71;
}

#filter-dropdown .hvr-radial-out:before {
    background-color: #2ecc71;
}

.chooseCategory a:active,.postOrChallenge > div > a.active {
    background-color: #2ecc71;
}

.chooseCategory a:active i,.postOrChallenge > div > a.active > i {
    color: #fff !important;
}

#filter-dropdown .filter-idea,.filter-challenge {
    padding: 7px 0;
    color: #2ecc71;
}

#filter-dropdown .divfilter {
    float: left;
    color: #545454;
    font-family: "roboto";
    display: block;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 5px;
}

div.hvr-radial-out:before {
    background: #2ecc71;
}

.filter-category {
    border: 1px solid #2ecc71;
    color: #545454;
    padding: 3px 14px;
    margin-bottom: 9px;
}

.filter-category.active {
    background-color: #2ecc71;
    color: #fff;
}

#category-btn {
    margin-top: 30px;
}

#filter-dropdown li input {
    margin: 6px 0;
    width: 78%;
    padding: 2px 5px;
}

.btn-clear,.btn-submitfilter {
    margin-top: 20px;
    padding: 3px 25px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.btn-clear {
    border: 1px solid #ccc;
    background-color: #fff;
}

#filtermenu {
    right: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 40px;
}

#filter-dropdown a.hvr-back-pulse:hover {
    background-color: #2ecc71 !important;
}

/*Challenge*/
.challenge.card .title {
    text-align: left;
    margin-top: 0;
    margin-right: 0;
    text-transform: capitalize;
    margin-bottom: 5px;
    padding-right: 0;
}

.img-thumbnail-challenge {
    height: 100%;
}

#ideaRelated p {
    text-align: left;
    color: #828587;
    font-size: 13px;
    margin-bottom: 0;
}

#ideaRelated {
    display: inherit;
    position: relative;
    padding-bottom: 6px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

#ideaRelated .icon {
    background-size: 60%;
    display: block;
    width: 22px;
    float: left;
    font-size: 12px;
    padding-left: 22px;
    line-height: 16px;
    margin-right: 18px;
    background-position: center left;
    height: 15px;
    background-repeat: no-repeat;
}

#ideaRelated #interaction {
}

#img-challenge {
    width: 80px;
    float: left;
    overflow: hidden;
    height: 40px;
    margin-right: 6px;
    display: block;
}

.bold600 {
    font-weight: 600;
}

/*Challenge and ideas related*/
.pinBoot,.pinBoot,#userBoot,.pinBoot3 {
    position: relative;
    max-width: 100%;
    width: 100%;
}

/*.pinBoot img,.pinBoot img, .pinBoot2 img, .pinBoot3 img{
  width: 100%;
  max-width: 100%;
  height: auto;
}*/
.pinBoot p,.pinBoot p,#userBoot p,.pinBoot3 p {
    text-align: left;
}

.pinBoot .white-panel,.pinBoot .white-panel,.pinBoot2 .white-panel,.pinBoot3 .white-panel,#userBoot .white-panel {
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    padding: 10px;
}

#ideasRelated .card {
    margin: 0;
}

#ideasRelated .card:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    margin-top: -5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pinBoot .white-panel h1,.pinBoot .white-panel h1,#userBoot .white-panel h1,.pinBoot3 .white-panel h1 {
    font-size: 1em;
}

.white-panel h1 a {
    color: #A92733;
}

.white-panel:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.7);
    margin-top: -5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#ideasRelated {
    background-color: #eee;
    padding-top: 150px;
    height: 100%;
}

#ideasRelated h4 {
    text-align: left;
    font-weight: 600;
    float: left;
    display: inline-block;
    margin-top: 0;
}

#ideasRelated .time-icon {
    margin-left: 0 !important;
}

@media screen and (min-width: 716px) and (max-width: 991px) {
#icon-location,#icon-time {
    clear: both;
    float: left;
}

#icon-time h5 {
    margin: 0;
}

#icon-location i,#icon-time i {
    margin-left: 0 !important;
}

#ideasRelated .card .author {
    margin: 0;
}
}

.problem {
    text-align: left;
    font-weight: 700;
}

#viewChallenge .description {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: #696767;
}

#followBtn,#weeksBtn {
    padding: 8px 10px;
    display: block;
    width: 140px;
    font-weight: 500;
    border-radius: 0;
    background-color: transparent;
    color: #289BE5;
    border: 2px solid #289BE5;
    font-size: 13px;
    position: relative;
    margin: 0 auto;
    margin-top: 28px;
}

#weeksBtn {
    margin-top: 50px;
}

#viewUser #followBtn {
    margin-top: 40px;
}

#newIdeaChallenge {
    padding: 8px 10px;
    display: block;
    width: 140px;
    font-weight: 600;
    border-radius: 0;
    margin: 15px auto;
    background-color: transparent;
    color: #289BE5;
    border: 2px solid #289BE5;
    font-size: 13px;
}

.contributeIdea,.linkIdea {
    padding: 8px 5px;
    display: block;
    font-weight: 600;
    margin: 15px auto;
    width: 100%;
    color: #289BE5;
    border: 2px solid #289BE5;
    font-size: 13px;
}

#btnChallenge {
    clear: both;
    text-align: center;
}

.contributeIdea:hover,.linkIdea:hover {
    background-color: #289BE5;
    color: #fff;
}

.contributeIdea {
    float: left;
    cursor: pointer;
}

.linkIdea {
    float: right;
    cursor: pointer;
}

#followBtn.following,#followBtn:hover,#weeksBtn:hover,#newIdeaChallenge:hover {
    background-color: #289BE5;
    color: #fff;
}

.first-follow.active {
    background-color: #289BE5 !important;
    color: #fff !important;
}

#followBtn.submit {
    background-color: #49CD54 !important;
    border: none;
    color: #fff !important;
}

#title-idea strong {
    text-transform: capitalize;
}

#viewIdea #title-idea {
    margin-bottom: 10px;
    text-transform: capitalize;
}

.challenge h5 {
    margin-bottom: 0 !important;
}

.add-idea-icon:before {
    content: "\f055" !important;
    top: 0;
    left: 0;
    position: absolute;
    font-family: FontAwesome;
    font-size: 26px;
    right: 0;
}

.new_idea_a {
    margin-top: 20px;
}

.search-bar a {
    padding: 12px 0 !important;
}

.navbar-nav>li>a {
    padding-top: 20px;
}

.navbar-nav>li>a.search-btn {
    padding-top: 18px;
    padding-bottom: 9px;
}

.navbar-nav>li>a.user-menu {
    padding-top: 13px;
}

.caret {
    margin-top: 12px;
}

.suggested-card .title {
    text-align: center;
    margin-right: 0;
    margin-top: 6px;
}

.suggested-card #followBtn {
    position: relative;
    right: 0;
    text-transform: uppercase;
}

.suggested-card hr {
    position: relative;
    margin-top: 30px;
}

/*modal tags style*/
.token-input.tt-hint {
    top: 7px !important;
    left: 10px !important;
}

.tt-suggestion {
    float: left !important;
    width: 17% !important;
    clear: both !important;
    padding: 15px 20px !important;
    border: 1px solid gray;
    margin: 10px 17px;
    min-height: 185px;
}

.tt-suggestion p {
    width: 100% !important;
    text-align: left !important;
}

/*View Challenge*/
#ideaRelatedBox {
    height: 180px !important;
    border: 3px dashed #289BE5;
}

#ideaRelatedBox:hover {
    transition: none !important;
    margin-top: 0 !important;
}

#ideasRelated .add-idea-icon:before {
    font-size: 44px !important;
    color: #289BE5;
    top: 30px;
}

#ideaRelatedBox h3 {
    margin-top: 100px;
    color: #289BE5;
}

#viewChallenge .profile-img,#viewIdea .profile-img {
    display: block;
    margin-top: -7px;
    float: left;
    margin-right: 6px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #FFF;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

#viewChallenge #addWBackBtn {
    position: absolute;
    left: 20px;
    top: 18px;
}

.addItemChallenge {
    margin-right: 12px;
}

.addItemChallenge,.addItemChallenge:active,#addWBtn {
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 0;
    background-color: transparent;
    clear: both;
    color: #289BE5;
    border: 2px solid #289BE5;
    font-size: 14px;
    padding: 8px 35px 8px 10px;
}

#addWBtn {
    padding: 8px 10px;
}

#actionChWBtn,#closeModelChallenge {
    font-weight: 500;
    border-radius: 0;
    font-size: 14px;
    padding: 8px 10px;
}

#closeModelChallenge {
    background-color: transparent;
    color: #7f8c8d;
    border: 1px solid #7f8c8d;
}

#actionChWBtn {
    background-color: #289BE5;
    color: #fff;
    border: 1px solid #289BE5;
}

.addItemChallenge.hvr-fade:hover {
    background-color: #2098d1;
    color: #fff;
}

#newInputText,#newInputFile {
    border: 2px solid #2098d1;
    padding: 9px;
}

.deleteForm,.deleteForm:hover {
    border: 1px solid #e74c3c;
    border-radius: 0;
    color: #e74c3c;
}

.deleteForm:before {
    content: "\f00d";
}

#deleteWeek {
    display: inline;
    margin-left: 18px;
}

#deleteWeek:hover {
    cursor: pointer;
}

#deleteWeek:before {
    content: "\f00d";
    color: #e74c3c;
}

#helpTitle,#helpDate,#helpForm,#helpFormTitle,#helpFormValue {
    display: none;
}

.has-error > #helpTitle,.has-error > #helpDate,.has-error > #helpForm,.has-error > #helpFormTitle,.has-error > #helpFormValue {
    display: block;
}

input.has-error-date {
    border: 1px solid #a94442 !important;
}

.noPadding {
    padding-left: 2px;
    padding-right: 2px;
}

#lineChalenge {
    clear: both;
    margin: 2px 0 8px;
}

#ChallengeDescription {
    clear: both;
    text-align: left;
    margin-bottom: 0;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a,.nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0;
    transform: scale(0);
}

.nav-tabs > li.active > a::after,.nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.centered-pills {
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 41px;
    background-color: #fff;
}

.centered-pills ul.nav-pills {
    display: inline-block;
    background-color: #fff;
}

.centered-pills li {
    display: inline;
}

.centered-pills a {
    float: left;
}

* html .centered-pills ul.nav-pills {
    display: inline;
}

/* IE6 */
*+html .centered-pills ul.nav-pills {
    display: inline;
}

/* IE7 */
#notisUL {
    height: 180px;
    overflow-y: scroll;
}

#notisUL li {
    width: 330px;
    height: 50px;
}

#notisUL li .col-lg-12 {
    border-top: 1px solid lightgray;
}

#noti_Container {
    position: relative;
/* This is crucial for the absolutely positioned element */
    width: 20px;
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.noti_bubble {
    position: absolute;
/* This breaks the div from the normal HTML document. */
    top: -4px;
    right: -12px;
    padding: 1px 2px;
    background-color: red;
/* you could use a background image if you'd like as well */
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    width: 16px;
/* The following is CSS3, but isn't crucial for this technique to work. */
/* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
/* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
}

.classHide {
    display: none;
}

#notification {
    color: #777;
}

#notification:hover {
    color: #000;
}

#notification:before {
    content: "\f0f3" !important;
    top: 0;
    left: 0;
    position: absolute;
    font-family: FontAwesome;
    font-size: 26px;
    right: 0;
}

.cardIdeas {
    border: 1px solid #000;
    margin: 10px 30px;
}

.cardIdeasHeader {
    background-color: green;
    border-bottom: 1px solid #000;
}

.cardIdeasHeaderLinked {
    background-color: orange;
    border-bottom: 1px solid #000;
}

.error {
    border: 1px solid red !important;
}

.error-tag,.error-category,.error-file,.error-file-ext,.error-skillsModal,.error-skillsSettings,.error-profilePicture-ext,.error-profilePicture-size,.error-title,.error-descr {
    color: red;
    display: none;
    clear: both;
    float: left;
}

.error-descr,.error-tag {
    clear: both;
    width: 100%;
    text-align: left;
}

#editideatab .tokenfield {
    clear: both;
}

.editIdeaModal {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#viewUser h1,#viewProfileDashboard h1 {
    font-weight: 700;
}

#viewTag h4,#viewUser h4,#viewChallenge h4,#viewProfileDashboard h4 {
    width: 100%;
}

#headerColumns {
    position: fixed;
    z-index: 1;
}

.puzzlesNumber {
    margin-top: 49px;
    font-size: 26px;
    color: #08c;
}

.puzzlesNumber i {
    margin-left: 14px;
    color: #999;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up)  0 to 767px*/
@media (max-width: 767px) {
/*View pages (challenge, user, tag)*/
.pinBoot,#userBoot {
    margin-left: 5px;
}

.img-thumbnail-idea {
    width: 100%;
}

#viewProfileDashboard .img-thumbnail-idea {
    padding: 0 !important;
}

.header-page {
    position: relative;
}

#viewTag h1,#viewUser h1,#viewChallenge h1,#viewIdea h1,#viewProfileDashboard h1 {
    width: 100%;
    /*text-align: center;*/
}

#viewTag #ideasRelated,#viewUser #ideasRelated,#viewChallenge #ideasRelated,#viewProfileDashboard #ideaRelated {
    padding-top: 15px;
}

/* View Tag*/
#viewTag #followBtn {
    margin-top: 0;
    margin-bottom: 30px;
}

/* View User*/
#viewUser h1,#viewProfileDashboard h1 {
    margin-bottom: 0;
}

#viewUser #followBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#viewUser .profile-img,#viewProfileDashboard .profile-img {
    display: inline-block;
    float: initial;
    margin-left: 0;
}

/* View Challenge*/
#weeksBtn {
    margin-top: 30px;
    margin-bottom: 20px;
}

#viewChallenge .user-info,#viewIdea .user-info {
    margin: 0 auto;
    display: inline-block;
    float: initial;
}

#viewIdea .user-info {
    margin-bottom: 12px;
}

/*home*/
#home .icon-time {
    /*width: 100%;*/
    float: left;
}

#home .icon-time h5 {
    margin-bottom: 3px !important;
}

#home .icon-location {
    /*width: 100%;*/
    float: left;
}

#home .icon-location i {
    margin-left: 0 !important;
}

#home .icon-time i {
    margin-left: 0 !important;
}

#home .img-thumbnail-idea {
    width: 100%;
    padding: 0 0 5px;
}

/*Nav bar*/
.navbar-header {
    height: 48px;
    float: left;
    width: 130px;
    margin-left: 0 !important;
}

body {
    margin-top: 51px;
}

#navSuperior .navbar-collapse {
    margin-top: 50px !important;
}

.notificationButton {
    float: right;
    margin-right: 20px;
    list-style: none;
    padding-left: 0;
}

#noti_Container {
    margin-top: 8px;
}

.dropdown {
    position: inherit !important;
}

#notisUL {
    left: 0;
    right: 0;
    border: none;
    top: 48px;
    height: auto;
    height: 180px;
   overflow-y: scroll;
   padding: 0;
   border-top: none;
}

#notisUL li {
    width: 100%;
}

.new_idea_a {
    margin-top: 0;
}

#navSuperior .navbar-nav>li>a {
    padding-top: 10px;
}

#navSuperior .navbar-nav {
    margin: 0;
}

#navSuperior .nav>li {
    border-bottom: 1px solid #ddd;
}

.search-bar {
    display: block;
}

.twitter-typesearch {
    position: relative;
    display: block !important;
    width: 100%;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    right: 0;
    z-index: 100;
    display: none;
}

#productName {
    width: 100%;
}

#sidebar {
    top: 51px;
}

/*View IDEA*/
#viewIdea #dateSign {
    float: initial;
    text-align: center;
    margin: 0 0 10px;
}

#viewIdea .nav>li {
    margin: 0;
    padding: 0;
}

#showEdit {
    width: 100%;
    margin-left: 0;
}

#viewIdea .nav-tabs > li > a {
    margin: 0;
    padding: 10px 5px;
}

#groupInfo {
    display: inline-block;
}

#viewIdea .tags-label {
    float: initial;
}

#viewIdea .header-page {
    top: 0;
}

.img-cover-idea {
    width: 50%;
}

.tags-label div {
    margin: 0 auto;
}

.tags-label span {
    float: left;
    line-height: 24px;
}

#categoryIdea {
    position: initial;
    display: table;
    float: initial;
}


.demo {
    margin-top: 6px;
}

#likesSign {
    margin-bottom: 20px;
}

#viewIdea .tab-content {
    margin: 0 auto;
}

#viewIdea #info-idea {
    margin-top: 0;
}

/*View profile dashaboard*/
#viewProfileDashboard #ideasRelated {
    padding-top: 20px;
}

#viewProfileDashboard .header-page ul,#viewUser .header-page ul {
    padding-right: 0;
    border: none;
}

#viewProfileDashboard .img-thumbnail-idea,#viewUser .img-thumbnail-idea {
    clear: both;
    width: 100%;
    padding: 0;
}
}

@media (max-width: 500px) {
.attachment-label {
    clear: both;
    margin-left: 0 !important;
}

#viewIdea .nav-tabs > li > a {
    font-size: 12px;
}
}

@media (max-width: 450px) {
.img-cover-idea {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
}

@media (max-width: 390px) {
#viewProfileDashboard .header-page li a,#viewUser .header-page li a {
    font-size: 12px;
    font-size: 12px;
    padding: 11px 8px;
}
}

/* Medium devices (desktops, 992px and up) 700 px to 991px */
@media (min-width:700px) and (max-width: 991px) {
/*View pages (challenge, user, tag)*/
.icon-time {
    /*width: 100%;*/
    float: left;
}

.icon-time h5 {
    margin-bottom: 3px !important;
}

.icon-location {
    /*width: 100%;*/
    float: left;
}

.icon-location i {
    margin-left: 0 !important;
}

.icon-time i {
    margin-left: 0 !important;
}

#home .img-thumbnail-idea {
    width: 100%;
    padding: 0 0 5px;
}

/*View profile dashabord*/
#viewProfileDashboard .img-thumbnail-idea,#viewUser .img-thumbnail-idea {
    clear: both;
    width: 100%;
    padding: 0;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:992px) {
/* View Tag*/
#viewTag h4,#viewUser h4,#viewProfileDashboard h4 {
    width: 100%;
}
}

@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */
table,thead,tbody,th,td,tr {
    display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr {
    border: 1px solid #ccc;
}

td {
/* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
}

td img {
    width: 20px;
}

#descrRol {
    width: 100%;
}

td:before {
/* Now like a table header */
    position: absolute;
/* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    text-align: center;
    white-space: nowrap;
}

/*
    Label the data
    */
td:nth-of-type(1):before {
    content: "User";
}

td:nth-of-type(2):before {
    content: "Role";
}

td:nth-of-type(3):before {
    content: "Descrip";
}

td:nth-of-type(4):before {
    content: "";
}
}
.list-group {
   margin-bottom: 0px !important;
}

.panel-default>.panel-heading {
   color: #FFF;
   background-color: #428BCA ;
   border: none;
   border-radius: 0;
}

.panel-default {
   border: none;
}


#sideBarDirector .list-group-item{
   border-left: none;
   border-bottom: 1px solid #ddd;
   border-right: none;
   margin-bottom: 0px;
   border-top: none;
}


#sideBarDirector .panel {
   margin-bottom: 20px;
   background-color: #fff;
   border: none;
   border-radius: 0px;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.panel-heading .accordion-toggle:after {
   /* symbol for "opening" panels */
   font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
   content: "\e114";    /* adjust as needed, taken from bootstrap.css */
   float: right;        /* adjust as needed */
   color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
   /* symbol for "collapsed" panels */
   content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

#propTitle{
   font-weight: 300;
   font-family: 'Roboto',Arial;
   margin-top: 30px;
   margin-bottom: 10px;
   text-align: left;
   display: inline-block;
   float: left;
}

#propOwner .user-idea{
   color: #000;
   font-weight: 600;
}

#propOwner .profile-img{
   display: block;
   margin-top: -7px;
   float: left;
   margin-right: 6px;
   margin-left: 0;
   background-repeat: no-repeat;
   background-position: 50%;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   background-size: cover;
   -webkit-border-radius: 99em;
   -moz-border-radius: 99em;
   border-radius: 99em;
   border: 2px solid #FFF;
   box-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

#propOwner{
   float: left;
}

#propDescr{
   text-align: left;
   margin-top: 20px;
}

.viewMoreIdea{
   float: left;
   margin-top: 20px;
}

.alignLeft{
   text-align: left;
   font-weight: bold;
}

#buttonSpace{
   margin-top: 20px;
}

#buttonSpace .glyphicon{
   margin-left: 4px;
}

#dashboardProfile .btn-default:hover, #dashboardProfile .btn-default:focus, #dashboardProfile .btn-default:active, #dashboardProfile .btn-default.active{
   color: black;
}

.sidebarActions{
   border-left: 1px solid #ddd;
   padding: 0;
}

#page-wrapper{
   padding-right: 0;
   padding-left: 0;
}

#dashboardProfile #page-wrapper .nav-link{
   background-color: #f7f8fa  !important;
}

#containerGraph{
   padding: 0 5px;
}

#dashboardProfile .row{
   margin-left: 0px;
}

@media(max-width: 991px) {
   .sidebarActions{
margin-top: 20px;
   }
}
#dashboardProfile .sidebar {
   margin-top: 0px !important;
}


.no-padding
{
    padding: 0;
}

.no-padding-right
{
    padding-right: 0;
}

.no-padding-left
{
    padding-left: 0;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.card-title-div
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#interaction > span
{
    padding-right: 10px;
}

#tags > a:first-child
{
    margin-left: 0;
}

.btn-full
{
    width: 100%;
}

.btn-fullidea
{
    background: none;
    border-color: #D4D4D4;
    padding: 4px 15px;
}

.btn-fullidea:hover
{
    background-color: #ececec;
}

#descr-text
{
    font-size: 16px;
}

#viewIdea > div > div > .container
{
    margin: 0;
}

#isDislikeSign
{
    color: #F8AEA8;
}

#isLikeSign
{
    color: #A9D294;
}

.separator
{
    background-color: gray;
    height: 2px;
    margin-bottom: 10px;
}

.idea-title-div
{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.idea-title-div #categoryIdea
{
    float: right;
    margin-bottom: 15px;
}

#myCarousel
{
    margin-bottom: 10px;
}

#descr-text
{
    margin-bottom: 30px;
}

#shareDiv
{
    margin-top: 20px;
}

#viewIdea #sidebar
{
    height:100vh;
    right: inherit;
    background: #fff;
    border-right: 1px solid #e7e7e7;
    color: #829199;
    margin-top: 1px;
}

#viewIdea #sidebar > ul
{
    list-style: none;
    padding-left: 0;
    font-size: 30px;
}

#viewIdea #sidebar > ul > li
{
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 10px 0;
}

#viewIdea #sidebar > ul > li:hover
{
    background-color: #ececec;
}

#divAttach
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#divStats, #divCove
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#stats, #adoption, #coverage > div
{
    border: 1px solid lightgray;
    /*margin-top: 10px;*/
}

.carousel-indicators
{
    z-index: 9;
}

#btnSearch .fa
{
    font-size: 20px;
}

.tt-dataset.tt-dataset-best-pictures
{
    display: flex;
}