@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    background: #eee;
    text-align: center;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}


#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.left{
float: left;
}

.right{
  float: right;
}
.clear{
  clear: both;
}



@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: "Roboto";
}

a {
  text-decoration: none !important;
}

.card {
  height: auto;
  width: 94%;
  margin: 10px 10px;
  padding: 1rem;
      display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;

    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
}


.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  cursor: pointer;
}


.user-img{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #FFFFFF;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  

}

.user-profile-img{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-size: cover;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #FFFFFF;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  

}

#columns{
      padding-top: 28px;
      margin-top: 65px;
}


.title{
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  color: rgb(15,33,5);
  font-weight: bold;
  margin-bottom: 0;
    margin-right: 30px;
}

.read-more{
    cursor: pointer;
    font-size: 12px;
    color: rgb(0,0,0);
    padding-left: 3px;
}


.date, .location{
  font-weight:200;
  text-align: left;
  color: #021021;
  font-size: 12px;
  float: left;
  margin-top: 2px;
  line-height: 18px;
}




.author{
  font-weight:300;
  text-align: left;
  color: rgb(130,133,135);
  font-size: 12px;
  float: left;
  margin-top: 2px;
  line-height: 18px;

}

.author:hover{
  text-decoration: underline;
  cursor: pointer;
}

.description{
    clear: both;
    font-weight: 200;
  text-align: left;
  color: #828587;
  font-size: 14px;
    
}

#home .location-icon, .time-icon{
  position: relative;
  float: left;
  margin: 3px 2px 2px 21px;
}

ul{
  margin: 0;
}

#header-column{
  height: 40px;
  color: white;
  min-width: 205px;
  position: fixed;
  width: 25%;
  z-index: 1;
  margin-top: -38px;
  line-height: 40px;
  font-family: 'Roboto';
  font-weight: 400;
}


.bg-icon{
  background-position-x: 20px;
  background-position-y: center;
  background-size: 22px;
  background-repeat: no-repeat;
}

.blue{
    background-color: #3498db;
    background-image: url("img/comment-activity.png");
}

.red{
    background-color: #e74c3c;
    background-image: url("img/heart-white.png");
}

.green{
    background-color: #2ecc71;
    background-image: url("img/recent.png");
}

.purple{
    background-color: #9b59b6;
}

#tags{
      display: block;
        margin-top: 5px;
}

/* Css3 tags */
.tag{
  position: relative;
  display: inline-block;
  float: left;
  height: auto;
  text-transform: uppercase;
  padding: 1px 6px;
  margin: 5px 5px 5px 0px;
  overflow: hidden;
  font-size: 10px;
  line-height: 15px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ebedef;
  border-radius: 4px;
  -webkit-transition: .25s linear;
  transition: .25s linear;
  color: #171717;
}

.tag:hover{
font-weight: 500;
  color: #171717;
}

a:visited {
 color: #171717;
}
.icon{
  display: block;
  width: 22px;
  float: left;
  font-size: 12px;
  padding-left: 22px;
    line-height: 25px;
  margin-right: 18px;
  background-position: center left;
  background-size: 70%;
  height: 22px;
  background-repeat: no-repeat;
}

#interaction{
    height: 22px;
}

.comment{
    background-image: url(img/comment.png);
}

.heart{
background-image: url(img/heart.png);
}

.attachment{
background-image: url(img/attachment.png);
}

.clear{
    clear: both;
}


#sidebar {
  width: 60px;
  background-color: #212121;
  float: left;
  position: fixed;
  right: 0;
  z-index: 1;
  top: 65px;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar li {
    width: 50px;
  top: 0;
  height: 64px;
  right: 0;
  margin: 10px auto
}

#sidebar li span{
      width: 48px;
      position: relative;
  height: 48px;
    margin: 0 5px;
  background-color: white;
  background-repeat: no-repeat;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);

}

#sidebar li a{
  padding:0;
}

#sidebar li p{
  color: #fff;
    margin-top: 6px;
  font-family: "Roboto";
  float: left;
  font-weight: 300;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
}
.nav>li>a{
  color: #000000;
}

.nav>li>a:hover, .nav>li>a:focus{
  background-color: transparent !important;
}

.nav>li>a:hover>p{
  font-weight: 400 !important;
}




#sidebar li a:hover > span{
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);    
}


#navSuperior{
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
}


.navbar-brand{
  background: url("img/logo-idea.png");
  display: block;
  width: 130px;
  margin-left: 20px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position-y: 5px;
}

.dropdown-menu{
  z-index: 1 !important;
}

    #productName {
        width: 500px;
    }




body {
  margin-top: 75px;
}


footer {
  margin: 10px 0;
}

#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
}
        
.photo {
  margin-bottom: 10px;
}

.social-buttons button {
  margin-top: 5px;
}



/*View Idea*/

#viewIdea{
  margin-top: 64px;
  background: #f7f8fa;
}

#viewIdea h1, #profile h1{
  font-weight: 200;
  font-family: 'Roboto', Arial;
  margin-top: 30px;
}

#profile h1{
  text-align: left;
}

#viewIdea a.user{
  color: #000000;
  font-weight: 600;
}

#viewIdea .user-img{
  position: relative;
  margin: 0 auto;
    width: 70px;
  height: 70px;
  background: url("img/solar.jpg");
}

#idea{
  margin-top: 20px;
}


.img-cover-idea{
    width:100%;
    margin: 0 auto 20px auto;
    overflow:hidden;
    position: relative;
    height: 323px;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-cover-idea img{

    position:absolute;
}

.abstract{
  text-align: left;
  font-weight: 300;
}

.perc{
  font-size: 26px;
}

.btn-points{
  display: block;
  width: 110px;
  height: 30px;
  margin-top: 24px;
  float: left;
}

.btn-points i{
  color: white;
}

.like-btn{
  background:#57B128;
}

.like-btn i{
    margin-top: 2px;
  margin-left: 60px;
}

.dislike-btn{
  background: #F07467;
}

.dislike-btn i{
  margin-top: 2px;
  margin-left: 28px;
}

.demo-5{
  position:absolute;
left: 75px;
  top: 2px;
        background-color: #f7f8fa;
  border-radius: 83px;
  padding: 5px;

}

.demo{
    display: block;
    position: relative;
    margin: 0px auto;
  width: 230px;
  height: 74px;

}

.well p{
  font-weight: 300;
}

.well{
  background: none;
  border-radius: 0px;
}

.lead{
  margin-top: none;
  color: #57B128;
  margin-bottom: 0;
}

.avr-perc{
  line-height: 1.4;
  font-size: 21px;
}

.location-icon, .tags-icon, .attachment-icon, .time-icon{
  color: #808080;
  font-size: 14px;
}


.tags-label, .location-label,.attachment-label  {
  color: #808080;
  font-weight: 400;
}

#info-idea{
  background: #ffffff;
}

.nav-tabs {
  background-color: #f7f8fa;
}

#viewIdea .nav {
  padding-left: 220px;
}

#description p{
  text-align: left;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #fff !important;
}

#comments-div{
  background:#f7f8fa;
}

.comments-line{
  margin-bottom: 0;
}

footer{
  margin-top:0;
}


footer hr{
  margin-top: 0;
}

/*Media*/

@media screen and (max-width: 1075px) {
    #productName {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    #productName {
        width: 200px;
    }
}

.negative{
  background-color: #F07467 !important;
}

.positive{    
  background-image:#8BC163 !important;
<<<<<<< HEAD
=======
}

.tab-content{
  margin: 20px auto !important;
}


/*Profile*/

#profile{
  background-color: white;
}

.input-style{
  border-radius: 6px;
  background: white;
  border: 1px solid #d9d9de;
  color: #0f2105;
  font-size: 14px;
  margin: 0 30px 0 0;
  padding: 6px 5px;
  -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  width: 300px;
  line-height: 17px;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
}

.label-input{
  font-weight: 400;
  font-family: Roboto, Arial;
}

.update-btn{
  border: 2px solid #3ADF00;
  background-color: none;
  color:#3ADF00;
  font-weight: 400;
  padding: 3px;
}

.ghost-button, .ghost-button:visited {
  display: inline-block;
  width: 100px;
  padding: 8px;
  color: #3DADD1;
  border: 1px solid #3DADD1;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.ghost-button:hover,
.ghost-button:active{
  background-color: #3DADD1;
  color: #fff;
}

.ghost-button-large{
  width:160px;
}

#edit-img{
  position: relative;
  width: 250px;
  margin-bottom: 20px;
    margin: 0 auto 20px;
}

.btn-img{
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  background-color: #3DADD1;
  right: 0;
}

.edit-img-icon{
    margin: 14px;
    color: white;
}

.upload-img-btn{
  font-size: 12px;
  font-family: Roboto, Arial;
  margin-bottom: 20px;
}

.edit-line{
    margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #eee;
}

.img-edit{
  float: right;
  clear: both;
}

@media screen and (max-width: 1199px) {
    .img-edit{
  float: left;

}
>>>>>>> a4a3202c78a0e36a9981dffe1116946c07ae2062
}