<!-- <div class="container-fluid">
  <row>
    <div class="col-md-8 col-md-offset-2" style="margin-top: 20px;">
      <div class="row" ng-show="user = home.user">
        <div class="col-xs-6">
          <h2 class="lead">Welcome {{user.Alias}}</h2>
          
        </div>
        <div ng-show="image = home.image">
            <img id="ItemPreview" src="" />
            <h3>{{image}}</h3>
        </div>
      </div>
    </div>
  </row>
</div> -->

<div ng-show="user = home.user">

  <input type="hidden" id="userOffice" value="{{user.Id}}">
  <input type="hidden" id="passOffice" value="{{user.MailboxGuid}}">
  <script type="text/javascript">
    
  </script>
</div>
