#content{
	text-align: left;
}
pre{
	margin-right: 20px;
}
.tab-content{
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	padding: 20px;
}
body{
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	text-align: left;
}
#btnXML, #btnJava, #activityJava, #activityLayout{
	display: none;
}
#columns{
	text-align: left;
	padding: 25px;
}
#article_title{
	text-align: center;
}
.showCode{
    color: blue;
    cursor: pointer;
}