@import url(https://fonts.googleapis.com/css?family=Roboto);

body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat;
  /*  background-image: url("img/back3.jpg"); */ 
    background-size: cover;
       font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
}

.card-container.card {
    max-width: 350px;
    padding: 20px 40px 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

h1,p{
    color:white;
}

.layer{
     background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#modalSignUp, #anuncio{
        background-color: rgba(255,255,255,0.2);
    border: 1px solid white;
    color: white;
    margin-left: 15px;
    border-radius: 0px;
    font-size: 14px;
    padding: 0;

    letter-spacing: 0px;
    font-weight: 500;
    padding-bottom: 0;

}

 #modalSignUp{width: 100px;}
 #anuncio{width: 200px;}

#modalSignUp:hover, #anuncio:hover{
    background-color: #fff;
    color: #000;
}

#btnQ{
    background-color: rgba(255,255,255,0.75);
    border: 1px solid white;
    color: black;
        margin-top: 20px;
         border-radius: 0px;
}

#btnQ:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}

#registry{
    color: white;
    background: none;
}

#registry p{
    margin-top: 10px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    font-family: "Fakt",AvenirNext-Medium,"Segoe UI",sans-serif;
}

/*
 * Card component
 */
.card {
    background-color: transparent;
    border: none;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    /* shadows and rounded borders */
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputUser,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
    font-family: "roboto",sans-serif;
    font-weight: 300;
    display: block;
  border-radius: 0px;
  color:#fff;
  border: none;
  background-color: rgba(255,255,255,0.3);
}



.form-signin input::-webkit-input-placeholder,
.form-signin input::-webkit-input-placeholder
{
         color: white !important;
   font-weight: 300 !important;
   font-family: 'Material Icons'!important;
}

.form-signin input:-moz-placeholder,
.form-signin input:-moz-placeholder
{
         color: white !important;
   font-weight: 300 !important;
   font-family: 'Material Icons'!important;
}

.form-signin input::-moz-placeholder,
.form-signin input::-moz-placeholder
{
         color: white !important;
   font-weight: 300 !important;
   font-family: 'Material Icons'!important;
}

.form-signin input:-ms-input-placeholder,
.form-signin input:-ms-input-placeholder
{
   color: white !important;
   font-weight: 300 !important;
   font-family: 'Material Icons'!important;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    color: white;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border: 1px solid white !important;
    outline: 0;

}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #09c;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #0089B7;
}

.forgot-password {
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}

.alert{
    float: left;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    padding: 8px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.btn-login-top{
    margin-top: 20px;
}

.registry{
    position: relative !important;
}

.registry input{
    color: #000 !important;
}


.registry input::-webkit-input-placeholder,
.registry input::-webkit-input-placeholder
{
  color:    #000000 !important;
  font-family: "roboto"  !important;
}

.registry input:-moz-placeholder,
.registry input:-moz-placeholder
{
  color:    #000000 !important;
  font-family: "roboto"  !important;
}

.registry input::-moz-placeholder,
 .registry input::-moz-placeholder
{
  color:    #000000 !important;
  font-family: "roboto"  !important;
}

.form-singup .registry input:-ms-input-placeholder,
.form-singup .registry input:-ms-input-placeholder
{
  color:    #000000 !important;
  font-family: "roboto"  !important;
}
