.vericaltext{
   width:1px;
   word-wrap: break-word;
   white-space:pre-wrap;
}

thead{
    background-color: #bfdfff ;
}

.table-proposal{
    background-color: #dce3ea ;
}

.table-proposal thead{
    background-color: #c2c8ce ;
}

td.red:before {
  content: attr(data-char);
  display: block;
  background: #f00;
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align:center;
  vertical-align: middle;
  border-radius: 50%;
  margin:0 auto;
}

td.yellow:before {
  content: attr(data-char);
  display: block;
  background: #e8e425 ;
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align:center;
  vertical-align: middle;
  border-radius: 50%;
  margin:0 auto;
}

td.green:before {
  content: attr(data-char);
  display: block;
  background: #70cc43 ;
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align:center;
  vertical-align: middle;
  border-radius: 50%;
  margin:0 auto;
}

td.gray:before {
  content: attr(data-char);
  display: block;
  background: #a8a8a8 ;
  width: 20px;
  height: 20px;
  line-height:20px;
  text-align:center;
  vertical-align: middle;
  border-radius: 50%;
  margin:0 auto;
}

.progress{
    background: rgba(255,0,0,0);
    margin: 0px;
}

.progress-bar-null{
    background: rgba(255,0,0,0);
    color: #000;
}

.progress-bar-today{
  background: rgba(0,0,255,1);
  color: #00F;
}
